
main .content .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
main .content .info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
main .content .info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .content .info li:nth-child(1) .bx {
    background: var(--light-primary);
    color: var(--primary);
}
main .content .info li:nth-child(2) .bx {
    background: var(--light-warning);
    color: var(--warning);
}
main .content .info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}
main .content .info li .text h3 , #clock{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

#date{
    color: var(--dark);
}

main .content .info li .text p {
    color: var(--dark);
}





main .content .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
main .content .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}
main .content .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}
main .content .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
main .content .table-data .head .bx {
    cursor: pointer;
}

main .content .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}
main .content .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}
main .content .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}
main .content .table-data .order table td {
    padding: 16px 0;
}
main .content .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}
main .content .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
main .content .table-data .order table tbody tr:hover {
    background: var(--grey);
}
main .content .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}
main .content .table-data .order #parent .cashier:nth-child(1) .bx{
    background: var(--primary);
    color: var(--light);
}
main .content .table-data .order #parent .cashier:nth-child(2) .bx{
    background: var(--orange);
    color: var(--light);
}
main .content .table-data .order table tr td .status.pending {
    background: var(--warning);
}


main .content .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}
main .content .table-data .todo .todo-list {
    width: 100%;
}
main .content .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    border-left: 10px solid var(--other);
    justify-content: space-between;
    align-items: center;
}

main .content .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}

main .content .table-data .todo .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

main .content .table-data .todo .row #input-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
main .content .table-data .todo .row .btn1{
    border: none;
    outline: none;
    width: 80px;
    padding: 13px 50px;
    background: #01a7a7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

main .content .table-data .todo ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

#parent {
    height: 100%;
    display: grid;
   /* grid-template-columns: repeat(2, 1fr);*/
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

#parent .cashier{
    background-color: var(--light);
}

#shoe{
    width: 100%;
    height: 150px;
}

#parent .cashier .bx {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cashier{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

main .content .table-data .order #parent #dash:nth-child(1) .bx{
    background: var(--other);
    color: #eee;
}